<section>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <img src="../../assets/img/logo.png" alt="Logo" />
              <p class="text-white-50 mb-5">
                Por favor, insira seu login e senha!
              </p>
              <form class="form" (ngSubmit)="logar()" [formGroup]="formLogar">
                <div class="form-outline form-white mb-4">
                  <input
                    type="email"
                    id="email"
                    class="form-control form-control-lg"
                    formControlName="email"
                    autocomplete="email"
                  />
                  <label class="form-label" for="email">Email</label>
                  <span
                    *ngIf="formLogar.get('email')?.errors?.['required'] && submetido"
                    class="text-danger"
                  >
                    Campo obrigatório
                  </span>
                  <span
                    *ngIf="
                      formLogar.get('email')?.touched &&
                      formLogar.get('email')?.status === 'INVALID'
                    "
                  >
                    Deve ser um e-mail válido
                  </span>
                </div>

                <div class="form-outline form-white mb-4">
                  <input
                    type="password"
                    id="senha"
                    class="form-control form-control-lg"
                    formControlName="senha"
                    autocomplete="current-password"
                  />
                  <label class="form-label" for="senha">Senha</label>
                  <span
                    *ngIf="formLogar.get('senha')?.errors?.['required'] && submetido"
                    class="text-danger"
                  >
                    Campo obrigatório
                  </span>
                  <span *ngIf="mensagemErro" class="text-danger">
                    {{ mensagemErro }}
                  </span>
                  <span
                    *ngIf="
                      formLogar.get('senha')?.touched &&
                      formLogar.get('senha')?.status === 'INVALID'
                    "
                  >
                    A senha deve ter no mínimo 8 caracteres, pelo menos 1 letra
                    maiúscula, 1 minúscula, 1 número e 1 caracter especial
                  </span>
                </div>

                <button class="btn btn-outline-light btn-lg px-5" type="submit">
                  Login
                </button>
              </form>
            </div>

            <div>
              <p>
                Não tem uma conta?
                <a (click)="btnInscrever()" class="text-white-50 fw-bold"
                  >Inscrever-se</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
