<nav
  class="navbar navbar-expand-lg bg-dark border-bottom border-body"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <img
      src="../../assets/img/logo.png"
      alt="LojaGamer"
      width="40"
      height="40"
    />
    <a class="navbar-brand" href="#">LH Games</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Mostrar a opção "Sistema" apenas se o usuário estiver autenticado -->
        <li class="nav-item" *ngIf="isAuthenticated()">
          <a class="nav-link" [routerLink]="['/logada']">Sistema</a>
        </li>
      </ul>

      <button
        *ngIf="!isAuthenticated(); else logoutTemplate"
        class="btn btn-outline-light"
        [routerLink]="['/login']"
      >
        LOGIN
      </button>

      <ng-template #logoutTemplate>
        <button class="btn btn-outline-light" (click)="logout()">LOGOUT</button>
      </ng-template>
    </div>
  </div>
</nav>
