/* Reseta as margens e preenchimento*/
* {
  margin: 0px;
  padding: 0px;
  /*box-sizing: border-box;*/
}

/* Garante que o body e html ocupem a altura total */
html,
body {
  height: 100%;
  margin: 0;
}

#sec-banner {
  padding: 10px 0px;
}

#sec-banner img {
  height: 500px;
  object-fit: cover; /* Mantém a proporção da imagem */
  width: 100%;
}

.sec-titulo {
  text-align: center;
  padding-bottom: 10px;
  font-size: 30px;
}

.container {
  display: flex;
  align-items: center;
  margin: 0 auto; /* Centraliza o container na página */
}

.row {
  display: flex;
  /*flex-wrap: wrap;  Permite que os itens quebrem para a próxima linha */
  justify-content: center; /*  Cria espaçamento igual entre os elementos */
}

.col {
  display: flex;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  height: 250px;
  object-fit: cover; /* Mantém a proporção da imagem */
}

.card-body {
  padding: 5px;
  font-size: 14px;
  flex-grow: 1; /* Permite que o card body cresça */
}

.card-footer {
  padding: 5px;
}

/* Aumentar o tamanho do botão */
.btn {
  padding: 0.15rem 1rem; /* Ajusta o preenchimento do botão */
  font-size: 1.25rem; /* Ajusta o tamanho da fonte do botão */
  border-radius: 0.5rem; /* Ajusta o raio das bordas do botão */
}

@media (max-width: 400px) {
  #sec-banner img {
    height: auto;
  }

  .card {
    width: 250px;
  }

  .card-img-top {
    height: 200px;
    object-fit: cover; /* Mantém a proporção da imagem */
  }

  .sec-titulo {
    font-size: 20px;
  }

  .btn {
    padding: 0.1rem 0.5rem; /* Ajusta o preenchimento do botão */
    font-size: 1rem; /* Ajusta o tamanho da fonte do botão */
    border-radius: 0.5rem; /* Ajusta o raio das bordas do botão */
  }
}

@media (max-width: 700px) {
  #sec-banner img {
    height: auto;
  }

  .card {
    width: 250px;
  }

  .card-img-top {
    height: 200px;
    object-fit: cover; /* Mantém a proporção da imagem */
  }
}
