<div class="caixa-tabela">
  <div
    [ngClass]="{ alert_opacity: alert }"
    class="alert alert-success"
    role="alert"
  >
    {{ mensagem }}
  </div>
  <div class="background-cinza">
    <h2 class="primeiro-titulo">Produtos Cadastrados</h2>
    <div>
      <button class="btn btn-dark btn-lg px-5" (click)="openModal()">
        Cadastrar
      </button>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Produto</th>
          <th scope="col">Descrição</th>
          <th scope="col">Imagem</th>
          <th scope="col">Preço</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of produtos">
          <td>{{ item.produto }}</td>
          <td>{{ item.descricao }}</td>
          <td>{{ item.foto }}</td>
          <td>{{ item.preco }}</td>
          <td>
            <a title="editar" (click)="modalEditar(item)"
              ><i class="fa-solid fa-pen-to-square"></i
            ></a>
          </td>
          <td>
            <a title="deletar" (click)="modalDeletar(item.id, 'produto')"
              ><i class="fa-solid fa-trash"></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
